// Estados
$success-color: #00ff9d; //#00c48c; // Verde positivo (ej: ganancias)
$error-color: #ff4d4f; // Rojo negativo (ej: pérdidas)
$warning-color: #ff9100; // Opcional si lo usas

// TIPOGRAFÍA
$font-family: "Montserrat", "Inter", "Segoe UI", sans-serif;
$font-size-xs: 1rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.8rem;
$font-size-xxl: 3.2rem;

$font-weight-xs: 300; // Light
$font-weight-sm: 400; // Regular
$font-weight-md: 500; // Medium
$font-weight-lg: 600; // Semi-bold
$font-weight-xl: 700; // Bold

// ESPACIADO Y MEDIDAS
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.6rem;
$spacing-lg: 2.4rem;
$spacing-xl: 3.2rem;

//BORDES Y SOMBRAS
$border-radius-0: 0;
$border-radius-xs: 0.125rem; // 2px
$border-radius-sm: 0.25rem; // 4px
$border-radius-md: 0.5rem; // 8px
$border-radius-lg: 0.75rem; // 12px
$border-radius-xl: 1rem; // 16px
$border-radius-2xl: 1.5rem; // 24px
$border-radius-full: 9999px;
