@use '../../styles/mixins' as *;

.alert {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--radius-md);
  display: flex;
  align-items: start;
  gap: var(--spacing-md);

  &--success {
    background-color: rgba(16, 185, 129, 0.1);
    border-left: 4px solid var(--color-success);
  }

  &--error {
    background-color: rgba(239, 68, 68, 0.1);
    border-left: 4px solid var(--color-error);
  }

  &--warning {
    background-color: rgba(245, 158, 11, 0.1);
    border-left: 4px solid var(--color-warning);
  }

  &--info {
    background-color: rgba(59, 130, 246, 0.1);
    border-left: 4px solid var(--color-info);
  }
}
