/**
 * Checkbox Component Styles
 */

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.checkbox {
  @include checkbox-wrapper;
}

.checkbox__input {
  @include checkbox-input;

  // Focus state
  &:focus-visible + .checkbox__box {
    @include checkbox-focus;
  }

  // Checked state
  &:checked + .checkbox__box {
    @include checkbox-checked;
  }

  // Indeterminate state
  &:indeterminate + .checkbox__box {
    @include checkbox-indeterminate;
  }

  // Error state
  &[aria-invalid='true'] + .checkbox__box {
    @include checkbox-error;
  }
}

.checkbox__box {
  @include checkbox-box;

  // Sizes
  &--sm {
    @include checkbox-size-sm;
  }

  &--md {
    @include checkbox-size-md;
  }

  &--lg {
    @include checkbox-size-lg;
  }
}

.checkbox:hover:not(:has(input:disabled)) .checkbox__box {
  @include checkbox-hover;
}

.checkbox__label-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.checkbox__label {
  @include checkbox-label;
}

.checkbox__description {
  @include checkbox-description;
}

.checkbox__error {
  display: block;
  margin-top: var(--spacing-xs);
  font-size: var(--font-size-xs);
  color: var(--color-error);
}
