/**
 * Spinner Mixins
 */

@use '../../variables' as *;

@mixin spinner-base {
  display: inline-block;
  border: 2px solid var(--color-surface);
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spinner-spin 0.6s linear infinite;
}

@keyframes spinner-spin {
  to {
    transform: rotate(360deg);
  }
}

@mixin spinner-size-sm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

@mixin spinner-size-md {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

@mixin spinner-size-lg {
  width: 32px;
  height: 32px;
  border-width: 3px;
}

@mixin spinner-size-xl {
  width: 48px;
  height: 48px;
  border-width: 4px;
}
