/**
 * Responsive Mixins
 */

@use '../variables/breakpoints' as *;

// Mobile-first responsive mixins
@mixin sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
}

// Custom breakpoint
@mixin breakpoint($width) {
  @media (min-width: $width) {
    @content;
  }
}

// Max-width breakpoints (desktop-first)
@mixin max-sm {
  @media (max-width: $breakpoint-sm - 1) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: $breakpoint-md - 1) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: $breakpoint-lg - 1) {
    @content;
  }
}
